<mat-toolbar>
  <mat-toolbar-row>
    <span>New place</span>
    <span class="spacer-toolbar"></span>
    <button mat-flat-button color="accent" routerLink="/places">List places</button>
  </mat-toolbar-row>
</mat-toolbar>
<hr>

<form [formGroup]="registerForm" class="full-width">

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
      <mat-card style="margin-bottom: 20px;">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Title" value="" formControlName="title">
          </mat-form-field>
        
          <mat-form-field class="full-width">
            <input matInput placeholder="Short description" value="" formControlName="shortDescription">
          </mat-form-field>          
        </mat-card-content>
      </mat-card>

      <mat-card style="margin-bottom: 20px;">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Enter a location" ngx-google-places-autocomplete [options]="{
              types: ['establishment']
            }" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>                
          </mat-form-field>
        
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Latitude" value="" formControlName="latitude">
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Longitude" value="" formControlName="longitude">
              </mat-form-field>
            </div>
          </div>     
        </mat-card-content>
      </mat-card>
      <app-ngx-editor [config]="editorConfig" formControlName="description" [spellcheck]="true"></app-ngx-editor>


    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <mat-card>
        <h5 class="mb-3">Configuration</h5>
        <hr>
        <label id="status">Visibility</label>
        <mat-radio-group aria-label="status" formControlName="status">
          <mat-radio-button value="publish" >Publish</mat-radio-button>
          <mat-radio-button value="draft">Draft</mat-radio-button>
        </mat-radio-group>
      </mat-card>

      <mat-card>
        <h5 class="mb-3">Author</h5>
        <hr>
        <mat-form-field class="full-width">
          <input matInput placeholder="" value="" formControlName="author">
        </mat-form-field>    
      </mat-card>

      <mat-card>
        <h5 class="mb-3">Media</h5>
        <hr>
        <input type="file" id="image" (change)="onFileChange($event)" #fileInput>
        
      </mat-card>

      <button mat-flat-button color="accent" type="submit" class="mt-20" [disabled]="!registerForm.valid" (click)="onFormSubmit(registerForm.value)">SAVE</button>

    </div>
</div>
</form>
