<mat-toolbar>
  <mat-toolbar-row>
    <span>List places</span>
    <span class="spacer-toolbar"></span>
    <button mat-raised-button color="primary" routerLink="/places/create">New place</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="row" *ngIf="!progressBar">
  <div class="col-xs-12 col-sm-6 col-md-4 grid-margin">
    <mat-form-field class="full-width">
      <input matInput placeholder="Search" name="filterBlogs" [(ngModel)]="filterBlogs"> 
    </mat-form-field>
  </div>
</div>

<div class="card" *ngIf="!progressBar">
  <div class="card-body" *ngFor="let place of places | blogs: filterBlogs | paginate: {itemsPerPage: 5, currentPage: pageActived}">
    <div class="row">
      
      <div class="col-md-4">
        <img alt="" class="img-fluid w-100 rounded" [src]="firstImage(place)">
      </div>
      <div class="col-md-8">
        <h5 class="mb-3">{{ place.title }}</h5>
        <p><small>Created at: <strong>{{ place.createdOn | amDateFormat:'LL' }}</strong></small></p>
        <p>
          {{ place.shortDescription }}
        </p>
        
        <button mat-mini-fab aria-label="" color="primary" [routerLink]="['/places/edit', place._id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab aria-label="" color="warn" (focus)="deletePlace(place)">
          <mat-icon>delete</mat-icon>
        </button>

        <hr>
      </div>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="pageActived = $event"></pagination-controls>

<mat-spinner *ngIf="progressBar" ></mat-spinner>